<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Blog Posts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let blog of blogs" (click)="openBlog(blog)">
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <h2>{{blog.title}}</h2>
        </ion-item>
        <ion-item>
          <p>{{blog.content}}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" id="openCreateBlogModal">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal trigger="openCreateBlogModal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title class="ion-text-center">
            {{isEditForm ? 'Edit' : 'Add'}} Blog Post
          </ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input label="Title" labelPlacement="floating" placeholder="Enter Title" [(ngModel)]="title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea label="Content" labelPlacement="floating" placeholder="Enter Content" [(ngModel)]="content"></ion-textarea>
        </ion-item>
      </ion-content>
      <ion-button class="delete-blog-button" *ngIf="isEditForm" color="danger" (click)="delete()" expand="block">Delete</ion-button> 
    </ng-template>
  </ion-modal>


</ion-content>
