<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>todos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="todoForm" (ngSubmit)="addTodo()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>What needs to be done?</ion-card-title>
      </ion-card-header> 

      <ion-card-content>
        <ion-item>
          <ion-input label="Todo Name" labelPlacement="floating" placeholder="What needs to be done?" formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Todo Description" labelPlacement="floating" placeholder="Todo Description" formControlName="description"></ion-input>
        </ion-item>
        <ion-button type="submit" [disabled]="!todoForm.valid">Add Todo</ion-button>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
