<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="users">
        <ion-icon name="people"></ion-icon>
        <ion-label>Users</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="blogs">
        <ion-icon name="book"></ion-icon>
        <ion-label>Blogs</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="todos">
        <ion-icon name="list"></ion-icon>
        <ion-label>Todos</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
