<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="registerForm.getForm()"> 
    <ion-list>
      <ion-item>
        <ion-input label="Name" labelPlacement="floating" placeholder="Enter Name" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Email" labelPlacement="floating" placeholder="Enter Email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Password" labelPlacement="floating" placeholder="Enter Password" type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Confirm Password" labelPlacement="floating" placeholder="Enter Confirm Password" type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button expand="block" (click)="register()">Register</ion-button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
